* {
    box-sizing: border-box;
  }
  
  body {
    font: 32px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 10px solid rgb(0, 0, 0);
    float: left;
    font-size: 32px;
    font-weight: bold;
    color: rgb(122, 122, 122);
    line-height: 50px;
    height: 100px;
    margin-right: -10px;
    margin-top: -10px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-top: 35px;
    margin-left: 40px;
  }
  
  .medium-btn {
    width: 70px;
    height: 30px;
  }
  